<nav class="navbar navbar-expand-sm navbar-dark ">
  <h1 class="navbar-brand">Hello Admin</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/admin']"  id="manageUser">Home</a>
    </li> 
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/manage-users']"  id="manageUser">Manage Users</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/manage-services']"  id="manageService">Manage Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="adminLogout()">Log out</a>
    </li>
  </ul>
</div>
</nav>
<router-outlet></router-outlet>
<div class="container-fluid" id="outer">
  <div class="container">
  	<h4>Your Profile</h4>
  	<table>
  		<tbody>
  			<tr>
  				<td>Name:</td>
  				<td>{{username}}</td>
  			</tr>
  			<tr>
  				<td>E-mail:</td>
  				<td>{{email}}</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>
<div class="container col-sm-9">
  <h5 class="text-center">Services Booked</h5>
  <div class="container">
    <div *ngFor="let booking of bookedServices; let i = index " >
      <div class="row" id="BookedServices">
        <div class="col-sm-6" id="customerInfo">
          <table class="table table-sm borderless">
            <tbody>
              <tr>
                <td>
                  <p><b>Service Name:</b>{{booking.serviceName | titlecase}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>Customer Name:</b> {{booking.customerName | titlecase}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>Mobile Number:</b> {{booking.mobileNumber}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>Customer's Address:</b> {{booking.address | titlecase}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>Pin Code:</b> {{booking.pinCode}}</p>
                </td>
              </tr>
              <tr *ngFor="let slot of booking.timeSlots; let i = index ">
                <td>
                  <p><b>Time Slot-{{i+1}}:</b> {{slot.serviceDate | date}}</p>
                </td>
                <td>
                  <p><b>From:</b> {{slot.fromTime}} <b>To:</b> {{slot.toTime}}</p>
                </td>
              </tr>
              <tr>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6" id="serviceInfo">
          <img src="../assets/images/{{booking.bookings[0].imageUrl}}" alt="Search image">
          <h5> {{booking.bookings[0].serviceCategory}}</h5>
          <p><b>Price per Hour:</b> {{booking.bookings[0].price.priceHour}}</p>
          <p><b>Price per Day:</b> {{booking.bookings[0].price.priceDay}}</p>
          <p><b>Price per Month:</b> {{booking.bookings[0].price.priceMonth}}</p>
          <p><b>Description:</b> {{booking.bookings[0].description}}</p>
          <p>
            <b>Address:</b> 
            {{booking.bookings[0].address}}, {{booking.bookings[0].zipCode}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

