<nav class="navbar navbar-expand-sm navbar-dark">
  <h1 class="navbar-brand">Hello {{username}}!</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/user']">
        <span class="fa fa-home fa-fw">Home</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/booking-history',userId]"> Booking History </a>
    </li> 
    <!-- <li class="nav-item">
      <a href="#notification" class="nav-link" data-toggle="collapse">Notifications <span class="badge badge-info">{{notificationLength}}</span> </a>
    </li> -->
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navdropdown" data-toggle="dropdown">
        Notifications <span class="badge badge-info">{{notificationLength}}</span> 
      </a>

      <div class="dropdown-menu" id="notification">
        <div *ngFor="let notification of notifications; let i = index ">
          <span class="text-success"><b>{{i+1}}.</b> {{notification.serviceName | titlecase}}.<br> {{notification.message}} {{notification.customerName | titlecase}}</span>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/manage-profile',userId]">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Log out</a>
    </li>
  </ul>
</div>
</nav>
<router-outlet></router-outlet>

<div class="container col-sm-6" id="searchBox" *ngIf="showSearchBox">
  <div class="container">
    <img src="../assets/frontimages/textlogo.png" id="logo">
  </div>
  <div class="navbar-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchClick(searchKeyword)">
      <div class="form-group from-inline">
        <input type="text" class="form-control" formControlName="search" id="InputServiceName" 
        placeholder="Service Name Or Service category Or Zip-code" 
        name="searchtext" [(ngModel)]="searchKeyword">  
        <div class="alert" *ngIf="!searchForm.controls['search'].valid 
        && (searchForm.controls['search'].touched)">
          <div [hidden]="!searchForm.controls['search'].errors">
            Search text must contain 4 or more characters
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-sm">Search</button>
      <button type="reset" class="btn btn-warning btn-sm" (click)="clearMsg()">
        Reset
      </button>
    </form>
    <div class="container text-center" *ngIf="isResultFound">
      <span>No service found for your search</span>
    </div>
  </div>
</div>

<div class="container" *ngIf="showResults" id="serviceList">
  <h4 class="text-center">Total Number of Available Services:({{serviceCount}})</h4>
  <div class="container" *ngFor="let service of services; let i = index ">
    <div class="col-sm-3 card searchCard">
      <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
      alt="Search image" width="100" height="100">
      <div class="card-body">
        <h4 class="card-title">{{ service.serviceCategory | titlecase }}</h4>
        <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
        <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
        <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
        <button (click)="serviceDescription(service._id)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">View Detail</button>
      </div>
    </div>
  </div>
</div>

<div class="container modal fade" id="myModal">
  <div class="modal-dialog modal-m">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Service Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container" *ngFor="let service of ServceDescriptionData">
          <div class="card" id="serviceDetail">
            <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
            alt="Search image" width="100" height="100">
            <div class="card-body">
              <h4 class="card-title"> {{ service.serviceCategory | titlecase }}</h4>
              <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
              <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
              <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
            </div>
          </div>
          <p><b>Service Name:</b> {{service.serviceName | titlecase}}</p>
          <p><b>Description:</b> {{service.description}}</p>
          <p><b>Address:</b> {{service.address | titlecase}}, {{service.zipCode}}
          </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer" *ngFor="let service of ServceDescriptionData">
          <a class="btn btn-success mr-auto btn-sm" 
          data-dismiss="modal" (click)="bookingLogin(service._id)">Book Now</a>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container col-sm-5" *ngIf=(isBooking)>
  <h4>Booking Service Details</h4>
  <div class="container" *ngFor="let service of descriptionData">
    <div class="card col-sm-6" id="serviceDetail">
      <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
      alt="Search image" width="100" height="100">
      <div class="card-body">
        <h4 class="card-title"> {{ service.serviceCategory | titlecase }}</h4>
        <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
        <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
        <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
      </div>
    </div>
    <p><b>Service Name:</b> {{service.serviceName | titlecase}}</p>
    <p><b>Description:</b> {{service.description}}</p>
    <p><b>Address:</b> {{service.address | titlecase}}, {{service.zipCode}}
    </p>
    <button (click)=(proceed(service._id,service.serviceName)) 
    class="btn btn-primary btn-sm">Poceed
    </button>
    <button class="btn btn-warning btn-sm" (click)=(cancel())>Cancel Booking</button>
  </div>
</div>
<div class="container col-sm-8" *ngIf=(isProceed)>
  <h4 class="text-center">Please provide your personal information</h4>
  <form [formGroup]="serviceBookingForm">
    <div class="form-group">
      <label for="customerName">Please Enter Your Name</label>
      <input type="text" formControlName="customerName" id="customerName" class="form-control" name="customerName">
    </div>
    <div class="form-group">
      <label for="mobileNumber">Please Enter Your Mobile Number</label>
      <input type="text" formControlName="mobileNumber" id="mobileNumber" class="form-control" name="mobileNumber">
    </div>
    <div class="form-group">
      <label for="address">Please Enter Your Address</label>
      <input type="text" formControlName="address" id="address" class="form-control" name="address">
    </div>
    <div class="form-group">
      <label for="pinCode">Please Enter Pin Code</label>
      <input type="text" formControlName="pinCode" id="pinCode" class="form-control" name="pinCode">
    </div>
    <!-- <div class="form-group">
      <label>Select Date For Service:</label>
      <input type="date" name="serviceDate" formControlName="serviceDate">
    </div>
    <div class="form-group">
      <label>Select Time Slot</label><br>
      <label>From</label>
      <input type="time" name="fromTime" formControlName="fromTime">
      <label>To</label>
      <input type="time" name="toTime" formControlName="toTime">
    </div> -->
    <div>
      <label>Choose time slots for service delivery:</label>
      <form formArrayName="timeSlots"  *ngFor="let timeSlot of serviceBookingForm.get('timeSlots').controls; let i =index " >
        <div [formGroupName]="i" class="form-inline" id="inlineForm">
          <!-- <label for="serviceDate">Date:</label> -->
          <input formControlName="serviceDate"
            class="form-control" 
            placeholder="Service Date" 
            [owlDateTimeTrigger]="dt3" 
            [owlDateTime]="dt3" >
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          
          <!-- <label form="fromTime">From Time:</label> -->
          <input formControlName="fromTime" 
            class="form-control" 
            placeholder="From time"
            [owlDateTimeTrigger]="dt12" 
            [owlDateTime]="dt12"
            [selectMode]="'rangeFrom'" 
            [ngModel]="fromTime" >
          <owl-date-time [pickerType]="'timer'" #dt12></owl-date-time>&nbsp;
          
          <!-- <label for="toTime">To Time:</label> -->
          <input formControlName="toTime" 
            class="form-control" 
            placeholder="To time"
            [owlDateTimeTrigger]="dt13" 
            [owlDateTime]="dt13"
            [selectMode]="'rangeTo'" 
            [ngModel]="toTime" >
          <owl-date-time [pickerType]="'timer'" #dt13></owl-date-time>&nbsp;
        </div><br>
      </form>
      <button type="button" class="btn btn-warning btn-sm" (click)="addTimeSlots()">  Add Time-Slots
      </button>
    </div><br>
    <div class="form-group radio-inline">
      <label>Select Payment Criteria:</label><br>
      <input formControlName="payCriteria" type="radio" name="payCriteria" value="perHour">Per Hour
      <input formControlName="payCriteria" type="radio" name="payCriteria" value="perDay">Per Day
      <input formControlName="payCriteria" type="radio" name="payCriteria" value="perMonth">Per Month
    </div>
    <button type="button" class="btn btn-success btn-sm mr-auto" 
    (click)="confirmBooking()">Confirm Booking</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">Go Back</button>
  </form>
</div>
<div class="container col-sm-3" id="previewBooking" *ngIf="showPreview">
  <h4 class="text-center">Booking Information<hr></h4>
  <div  *ngFor="let preview of previewData">
    <p><b>Service Name:</b> {{preview.serviceName | titlecase}}</p>
    <p><b>Customer Name:</b> {{preview.customerName | titlecase}}</p>
    <p><b>Mobile Number:</b> {{preview.mobileNumber | titlecase}}</p>
    <p><b>Address:</b> {{preview.address | titlecase}}</p>
    <div *ngFor="let slot  of preview.timeSlots">
      <p><b> Date:</b> {{slot.serviceDate | date}}</p>
      <p><b>Time-Slot:</b> {{slot.fromTime}} -- {{slot.toTime}}</p>
    </div>
    
  </div>
  <button class="btn btn-sm btn-success" (click)="closePreview()">Close</button>
  
</div>