.row {
	margin-top:40px; 
	background-color:#eff0f2;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
#welcome_msg {
	/*clear: both;*/
	/*display: inline-block;*/
	display: inline-block;
}
#logout{
	float: right;
	margin-top: 0px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
