<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand">Hello {{username}}!</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/user']">Home</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/booking-history',userId]"> Booking History </a>
    </li> 
  </ul>
  <ul class="navbar-nav">
    <form class="form-inline" [formGroup]="searchForm" 
    (ngSubmit)="onSearchClick(searchKeyword)" >
      <input class="form-control mr-sm-2" formControlName="search" 
      id="InputServiceName"  type="text" placeholder="Search" name="searchtext"
      [(ngModel)]="searchKeyword">
      <button class="btn btn-success btn-sm" type="submit">Search</button>
    </form>
    
    <!-- <li class="nav-item ">
      <a class="nav-link" (click)="viewHistory()"> History </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Log out</a>
    </li>
  </ul>
</div>
</nav>
<router-outlet></router-outlet>

<div class="container-fluid" *ngIf="">
  <div class="container">
    <p>You have successfully logged in to our system.</p>
    <hr>
    <p>You are most Welcome in our community. Thanks for joining us....</p>
  </div>
</div>

<div class="container" *ngIf="showResults" id="serviceList">
  <h4 class="text-center">Total Number of Available Services:({{serviceCount}})</h4>
  <div class="container" *ngFor="let service of services; let i = index ">
    <div class="col-sm-3 card searchCard">
      <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
      alt="Search image" width="100" height="100">
      <div class="card-body">
        <h4 class="card-title">{{ service.serviceCategory | titlecase }}</h4>
        <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
        <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
        <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
        <button (click)="serviceDescription(service._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Detail</button>
      </div>
    </div>
  </div>
</div>

<div class="container modal fade" id="myModal">
  <div class="modal-dialog modal-m">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Service Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container" *ngFor="let service of ServceDescriptionData">
          <div class="card" id="serviceDetail">
            <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
            alt="Search image" width="100" height="100">
            <div class="card-body">
              <h4 class="card-title"> {{ service.serviceCategory | titlecase }}</h4>
              <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
              <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
              <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
            </div>
          </div>
          <p><b>Service Name:</b> {{service.serviceName | titlecase}}</p>
          <p><b>Description:</b> {{service.description}}</p>
          <p><b>Address:</b> {{service.address | titlecase}}, {{service.zipCode}}
          </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer" *ngFor="let service of ServceDescriptionData">
          <a class="btn btn-success mr-auto" 
          data-dismiss="modal" (click)="bookingLogin(service._id)">Book Now</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container col-sm-5" *ngIf=(isBooking)>
  <h4>Booking Service Details</h4>
  <div class="container" *ngFor="let service of descriptionData">
    <div class="card col-sm-6" id="serviceDetail">
      <img class="card-img-top" src="../assets/images/{{ service.imageUrl }}" 
      alt="Search image" width="100" height="100">
      <div class="card-body">
        <h4 class="card-title"> {{ service.serviceCategory | titlecase }}</h4>
        <p class="card-text">Price per Hour: {{ service.price.priceHour | titlecase}}</p>
        <p class="card-text">Price per Day: {{ service.price.priceDay | titlecase}}</p>
        <p class="card-text">Price per Month: {{ service.price.priceMonth | titlecase}}</p>
      </div>
    </div>
    <p><b>Service Name:</b> {{service.serviceName | titlecase}}</p>
    <p><b>Description:</b> {{service.description}}</p>
    <p><b>Address:</b> {{service.address | titlecase}}, {{service.zipCode}}
    </p>
    <button (click)=(proceed(service._id,service.serviceName)) 
    class="btn btn-primary">Poceed
    </button>
    <button class="btn btn-warning" (click)=(cancel())>Cancel Booking</button>
  </div>
</div>
<div class="container col-sm-5" *ngIf=(isProceed)>
  <h4>Please provide your personal information</h4>
  <form [formGroup]="serviceBookingForm">
    <div class="form-group">
      <label for="customerName">Please Enter Your Name</label>
      <input type="text" formControlName="customerName" id="customerName" class="form-control" name="customerName">
    </div>
    <div class="form-group">
      <label for="mobileNumber">Please Enter Your Mobile Number</label>
      <input type="text" formControlName="mobileNumber" id="mobileNumber" class="form-control" name="mobileNumber">
    </div>
    <div class="form-group">
      <label for="address">Please Enter Your Address</label>
      <input type="text" formControlName="address" id="address" class="form-control" name="address">
    </div>
    <div class="form-group">
      <label for="pinCode">Please Enter Pin Code</label>
      <input type="text" formControlName="pinCode" id="pinCode" class="form-control" name="pinCode">
    </div>
    <div class="form-group">
      <label for="timeSlot">Choose Time Slot For Serving:</label>
      <input type="radio" formControlName="timeSlot" name="timeSlot" value="Morning">Morning
      <input type="radio" formControlName="timeSlot" name="timeSlot" value="Evening">Evening
    </div>
    <button type="button" class="btn btn-success mr-auto" (click)="confirmBooking()">Confirm Booking</button>
    <button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
  </form>
</div>
