<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand">Hello {{username}}!</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    </li> 
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link"> Book Services </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" (click)="viewHistory()"> History </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Log out</a>
    </li>
  </ul>
</div>
</nav>
<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="container">
    <p>You have successfully logged in to our system.</p>
    <hr>
    <p>You are most Welcome in our community. Thanks for joining us....</p>
  </div>
</div>